.App {
  text-align: center;
}

.App-header {
  background-color: #ffeddd;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #1a73e8;
  font-size: 15px;
  display: block;
  margin: 1px; /* Adjust the margin to reduce space between links */
}

.App-button {
  background-color: #B0E0E6; /* Button background color */
  border: none; /*10px transparent #1a73e8; /* Button border color and width */
  padding: 10px; /* Padding inside the button */
  cursor: pointer; /* Cursor on hover */
  border-radius: 35px; /* Rounded corners */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px; /* Set desired width */
  height: 70px; /* Set desired height */
  margin: 10px; /* Adjust the value as needed */
}


.button-image {
  width: 40px; /* Adjust size as needed */
  height: 40px; /* Adjust size as needed */
}

  
.App-button:hover {
  color: #0b55d4; /* Darker color for hover effect */
}

.content-wrapper {
  display: flex;
  align-items: center;
}

.left-image {
  width: 250px; /* Adjust the size as needed */
  height: auto;
  margin-right: 20px; /* Space between image and content */
  border-radius: 150px; /* Adjust this value for the desired roundness */
}

.content {
  text-align: left;
}
