.App {
  text-align: center;
  background-color: #ffeddd;
}

.App-all {
  background-color: #b0e0e6; /* black;*/
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: black;
  /*max-width: 100vh;*/
}

.container_small {
  background-color: #b0e0e6; /*rgb(0, 255, 0);*/
  display: flex;
  justify-content: center; /* Center the container content horizontally */
  align-items: center; /* Center items vertically within the container */
  flex-wrap: nowrap; /* Prevent items from wrapping to the next line */
}

.container {
  background-color: #b0e0e6; /* red;*/
  display: flex;
  justify-content: center; /* Center the container content horizontally */
  align-items: center; /* Center items vertically within the container */
  flex-wrap: nowrap; /* Prevent items from wrapping to the next line */
  min-height: 100vh;
  max-width: 100vh;
}

.App-button-bar {
  background-color: #b0e0e6; /*rgb(199, 19, 235);*/
  display: flex; /* Change to flex to use flex properties correctly */
  flex-direction: column;
  align-items: center; /* Center items horizontally within the button bar */
  justify-content: center; /* Center items vertically within the button bar */
  color: black;
  /* max-width: 100vh; */
}


.App-picture {
  background-color: #b0e0e6;
  
  max-width: 140vh;
  display: flex;
  align-items: center; /* Center items vertically within the picture */
  justify-content: center; /* Center items horizontally within the picture */
  flex-direction: column;
  color: black;
}


.App-center {
  max-width: 90%;
  background-color: #ffeddd;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Center vertically */
  font-size: 20px;
  padding: 10px; /* Add padding inside the border */
  margin: 10px; /* Add margin outside the border */
  text-align: justify; /* Justify text */
  border-radius: 10px; /* Rounded corners */
}

.App-center:after {
  content: '';
  display: inline-block;
  width: 100%; /* Ensures the last line is justified */
}




.App-link {
  color: #1a73e8;
  font-size: 15px;
  display: block;
  margin: 1px; /* Adjust the margin to reduce space between links */
}

.App-button {
  background-color: #ffeddd; /* Button background color */
  border: none;
  padding: 10px; /* Padding inside the button */
  cursor: pointer; /* Cursor on hover */
  border-radius: 32px; /* Rounded corners */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 64px; /* Set desired width */
  height: 64px; /* Set desired height */
  margin: 10px; /* Adjust the value as needed */
}

.button-image {
  width: 40px; /* Adjust size as needed */
  height: 40px; /* Adjust size as needed */
}

.App-button:hover {
  color: #0b55d4; /* Darker color for hover effect */
}

.content-wrapper {
  display: flex;
  align-items: center;
}

.left-image {
  width: 250px; /* Adjust the size as needed */
  height: auto;
  object-fit: cover;
  margin-right: 20px; /* Space between image and content */
  border-radius: 150px; /* Adjust this value for the desired roundness */
}

.content {
  font-size: 16px; /* Adjust text size as needed */
  text-align: left;
}

.website-text {
  font-size: 16px; /* Adjust text size as needed */
  text-align: center;
}

.cursive-text {
  font-style: italic; /* Makes the text cursive */
  font-size: 14px; /* Adjust text size as needed */
  text-align: left;
  margin-left:0vh;
}


header {
  margin: 0; /* Remove default margin */
  padding: 10px; /* Optional: Add padding */
}


/* Media query for mobile devices */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }
  .App-center {
    order: 3;
    margin-top: 20px;
  }
}



/* Media query for desktop devices */
@media (min-width: 769px) {
  .container {
    flex-direction: row;
  }
  .App-center {
    order: 2; /* Ensure this comes after .App-picture and .App-button-bar */
    margin-left: 20px;
  }
}